*{
    margin: 0;
    padding: 0;
    text-align: center;
}
#header{
    background-color: #04042d;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 155px;
    width: 155px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
}
.choice:hover{
    background-color: #222;
    cursor: pointer;
    transition: all ease 0.5s;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    margin-top: 4rem;
}
.score{
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#msg{
   background-color: rgb(4, 4, 45);
    color: white;
    font-size: 20px;
    display: inline;
    padding: 1rem;
    border-radius: 25px;
}
.msg-container{
    margin-top: 5rem;
}
